<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button
      class="example-button"
      mat-mini-fab
      color="primary"
      aria-label="Example icon button with a delete icon"
      [routerLink]="['/']"
    >
      <mat-icon
        class="example-icon"
        aria-hidden="false"
        aria-label="Example heart icon"
        >house</mat-icon
      >
    </button>
    <span class="example-spacer"></span>
    <a
      href="whatsapp://send?text=Pint%20Time%20%20%23%20https%3A%2F%2Farepubsinirelandopen.com
%2F"
    >
      <button
        class="example-button"
        mat-mini-fab
        color="primary"
        aria-label="Example icon button with a delete icon"
        [routerLink]="['/']"
      >
        <mat-icon
          class="example-icon"
          aria-hidden="false"
          aria-label="Example heart icon"
          >share</mat-icon
        >
      </button></a
    >
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
<footer>
  Made With <mat-icon>favorite</mat-icon> (and for the craic) by
  <a href="https://twitter.com/eamokeane">Eamon Keane</a>
</footer>
