.app-container {
  max-height: 100%;
}
footer {
  font-family: "Comic Sans", "Comic Sans MS";
  position: absolute;
  bottom: 0;
  color: aliceblue;
  width: 100%;
  margin: 5px auto;
  text-align: center;
  font-size: medium;
}
a {
  font-family: "Comic Sans", "Comic Sans MS";
  color: aliceblue;
}
.example-spacer {
  flex: 1 1 auto;
}

.example-button {
  margin: 0 2px;
}
